In [6]:
import pandas as pd

df = pd.read_csv('raw_data.csv')
rain = pd.read_csv('output/2021/rainfall.csv')
rain

,Station,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Total
0,Dhaka,0.0,0.0,3.0,39.0,216,546.0,333.0,249.0,141.0,64.0,NaN,NaN,NaN
1,Tangail,0.0,0.0,8.0,58.0,200,546.0,171.0,459.0,109.0,221.0,7.0,38.0,1817
2,Mymensingh,0.0,0.0,2.0,42.0,289,430.0,265.0,504.0,61.0,188.0,NaN,NaN,NaN
3,Faridpur,0.0,0.0,0.0,18.0,175,317.0,465.0,362.0,124.0,70.0,29.0,174.0,1734
4,Madaripur,0.0,0.0,1.0,42.0,166,427.0,357.0,192.0,139.0,81.0,27.0,113.0,NaN
5,Srimangal,3.0,0.0,109.0,39.0,236,172.0,295.0,428.0,189.0,166.0,2.0,66.0,1705
6,Sylhet,0.0,0.0,127.0,143.0,290,664.0,703.0,928.0,200.0,240.0,0.0,14.0,3309
7,Bogura,0.0,0.0,6.0,24.0,274,391.0,278.0,412.0,117.0,93.0,0.0,1.0,1596
8,Dinajpur,0.0,0.0,0.0,22.0,278,273.0,180.0,407.0,144.0,442.0,0.0,5.0,1751
9,Ishwardi,0.0,0.0,1.0,41.0,179,396.0,315.0,324.0,182.0,114.0,18.0,18.0,1588
10,Rajshahi,0.0,0.0,0.0,15.0,140,263.0,325.0,542.0,135.0,116.0,1.0,1.0,1538
11,Rangpur,0.0,0.0,4.0,27.0,****,201.0,194.0,466.0,193.0,384.0,0.0,2.0,******
12,Syedpur,0.0,0.0,0.0,53.0,316,218.0,318.0,540.0,235.0,351.0,0.0,0.0,2031
13,Chuadanga,0.0,0.0,13.0,6.0,224,275.0,322.0,515.0,154.0,61.0,37.0,37.0,1644
14,Jashore,0.0,1.0,0.0,99.0,159,365.0,328.0,254.0,334.0,167.0,45.0,0.0,1752
15,Khulna,0.0,3.0,0.0,2.0,2,124.0,135.0,469.0,524.0,203.0,339.0,234.0,2035
16,Mongla,0.0,0.0,0.0,0.0,187,430.0,867.0,338.0,408.0,251.0,2.0,2.0,2485
17,Satkhira,0.0,3.0,0.0,1.0,122,440.0,472.0,248.0,351.0,217.0,3.0,87.0,1944
18,Barishal,0.0,1.0,1.0,0.0,50,404.0,379.0,296.0,244.0,277.0,1.0,69.0,1722
19,Bhola,0.0,1.0,0.0,2.0,77,654.0,402.0,363.0,197.0,240.0,2.0,68.0,2006
20,Khapupara,4.0,0.0,0.0,0.0,123,554.0,836.0,426.0,344.0,278.0,0.0,50.0,2615
21,Patuakhali,0.0,0.0,0.0,1.0,70,541.0,780.0,447.0,296.0,249.0,2.0,71.0,2457
22,Chandpur,2.0,0.0,2.0,3.0,87,437.0,391.0,419.0,261.0,196.0,30.0,126.0,1954
23,Ambagan(Ctg),0.0,0.0,0.0,21.0,187,743.0,904.0,685.0,NaN,NaN,NaN,NaN,NaN
24,Chattogram,0.0,0.0,0.0,2.0,130,793.0,1071.0,735.0,364.0,234.0,234.0,0.0,3563
25,Cumilla,0.0,0.0,0.0,3.0,132,258.0,636.0,288.0,544.0,118.0,36.0,164.0,2179
26,Cox`s Bazar,0.0,0.0,0.0,46.0,160,731.0,1097.0,995.0,266.0,112.0,39.0,39.0,3485
27,Feni,0.0,0.0,0.0,16.0,75,530.0,792.0,439.0,296.0,193.0,19.0,89.0,2449
28,Hatia,1.0,0.0,0.0,2.0,170,953.0,795.0,801.0,322.0,169.0,NaN,NaN,NaN
29,Kutubdia,0.0,0.0,0.0,11.0,100,816.0,1145.0,893.0,228.0,215.0,NaN,NaN,NaN
30,Maijdee Court,0.0,0.0,0.0,6.0,158,639.0,551.0,449.0,233.0,212.0,0.0,92.0,2340
31,Rangamat,0.0,0.0,0.0,32.0,99,375.0,478.0,568.0,231.0,146.0,0.0,73.0,2002
32,Sandwip,0.0,0.0,0.0,0.0,137,754.0,866.0,894.0,372.0,137.0,0.0,61.0,3221
33,Sitakunda,0.0,0.0,0.0,3.0,74,1072.0,716.0,672.0,221.0,196.0,NaN,NaN,NaN
34,Teknaf,0.0,0.0,0.0,12.0,59,874.0,1068.0,594.0,99.0,18.0,NaN,NaN,NaN
35,Gopalgonj,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,Tarash,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,Netrokona,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,Rajarhat,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,Badalgachhi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,Dimla,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,Netrokonai,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
import pandas as pd
from collections import OrderedDict

df = pd.read_csv('dataset_2.csv')

# function to create the maps for the columns
def create_map(column_name):
    # Get the values from the specified column
    values = df[column_name].astype(str).dropna().values.tolist()
    
    # Initialize an ordered dictionary to maintain the original order
    mapping_dict = OrderedDict()

    for value in values:
        cleaned_value = value
        if cleaned_value not in mapping_dict:
            mapping_dict[cleaned_value] = len(mapping_dict)

    return dict(mapping_dict)

# creating map for the data and replacing them with the key values
for column_name in df.columns[:4]:
    data = create_map(column_name)
    df[column_name] = df[column_name].astype(str).replace(data)

df.to_csv('preprocessed_data_2.csv', index=False)

Name of Commodity    Paddy Aus
Variation               medium
Year                      2020
Month                  January
Rainfall                    45
Temperature                 26
Humidity                    83
Pesticide                 4333
Price                        -
Name: 5, dtype: object